[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ec2-user/myvenv/bin/uwsgi -i /srv/django_rest/.config/uwsgi/restfulserver.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target